@{
    ViewData["Title"] = "Party!";
}

<div class="text-center m-2">
    <h3>We're going to have an exciting party!<br />And you're invited!</h3> 
    <div><a class="btn btn-primary" asp-action="RSVPForm" asp-controller="Home">RSVP!</a></div>
</div>
