@model PartyInvite.Models.Response

<h5 class="bg-primary text-white text-center m-2 p-2">RSVP</h5>

<form asp-action="RSVPForm" method="post" class="m-2">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="Name" class="form-label">Your Name: </label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
        <div class="form-group">
        <label asp-for="Email" class="form-label">Email Address: </label>
        <input type="email" asp-for="Email" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Phone" class="form-label">Phone Number: </label>
        <input asp-for="Phone" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="WillAttend" class="form-label">Will You Attend? </label>
        <select asp-for="WillAttend" class="form-control">
            <option value="">Choose an option</option>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
    </div>
    <button class="btn btn-primary mt-3" type="submit">RSVP</button>
</form>